body {
    background-color:#FFEDE3;
}

/*index*/
header {
    display: flex;
    justify-content: center;
    background-image: url('../img/logo.png'); 
    background-position: center; 
    background-repeat: no-repeat; 
}

main {
    font-size: 15px;
    margin: 0px 15px 160px 15px;
}

h1 {
    margin-top: 182px;
    font-size: 50px;
    font-family: "Libre Bodoni", serif, sans-serif;
}

h2 {
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 25px;
    text-align: center;
}

h2:first-of-type{
    margin-top: 20px;
}

main p em {
    display: flex;
    justify-content: center;
    font-size: 20px;
}

main img {
    margin-bottom: 25px;
}

aside {
    width: 50%;
    float: right;
    font-size: 12px;
}

aside ul li {
    margin-bottom: 10px;
    background-color: #949975;
    color: #FFEDE3;
    padding: 10px; 
    list-style: none;
}

h2:nth-of-type(3){
    margin-top: 70px
}

nav {
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    background-color: #99BA78;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px 10px 0px;
}

nav a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#pijl {
    margin-left: 45%;
    margin-bottom: 50px;
}



/*greencrafts*/
main > a:first-of-type {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-content: flex-start;
    width: 50%;
    gap: 10px;
    background-color: #99BA78;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.7); 
    margin: 20px 0px 20px 0px;
}

main > a:nth-of-type(2) {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-content: flex-start;
    width: 50%;
    gap: 40px;
    background-color: #99BA78;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    box-shadow: 6px 2px 10px rgba(0, 0, 0, 0.7); 
    margin-top: 20px;
}

main > a > img {
    padding-top: 20px;
}

main > a:last-of-type {
    margin-bottom: 50px;
}

main > img:nth-of-type(3){
    float: right;
    margin-left: 30px;
}

h3{
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tekst{
    width: 63%;
    margin-bottom: 40px;
}

#greencrafts {
    float: right;
    margin-top: 20px;
}

h4{
    font-size: 15px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.producten{
    display: flex;
    justify-content: center;
}

.producten img{
    width: 100px;
    height: 100px;
    margin-right: 12px;
}

.producten article{
    background-color: #EAD1BB;
    width: 220px;
    height: 97px;
    border: 1.5px solid black;
    margin-bottom:5px;
}

.producten a{
    float: right;
    margin:10px 10px 5px 0px;
    text-decoration: none;
    color: black;
    display: block;
}

.producten p{
    margin: 0;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 12px;
}



/*locaties*/
.locaties img{
    margin-left: 19%;
    margin-bottom: 0;
}

.locaties ul{
    text-align: center;
    list-style: none;;
    padding: 0;
}

.locaties > ul{
    margin-bottom: 50px;
}

.locaties li:first-of-type{
    margin-bottom: 8px;
}

.locaties ul li:nth-of-type(3){
    margin-bottom: 25px;
}

span{
    display: block;
}

main > p:first-of-type{
    position: relative;
}

main > p:first-of-type::before {
    content: "";
    width: 100%;
    border: 2px solid;
    position: absolute;
    bottom: -57px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: black;
}



/*greencrafts*/
main > p.tekst::before{
    bottom: -20px;
    width: 325px;
}



/*index*/
main > p.shop::before{
    background-color: transparent;
    border: 0px;
}





